body,html{
  margin: 0;
  padding:0;
}
#wrapper{
  width: 100%;
  margin: 0 auto;
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.navbar{
  border-bottom: 2px solid black;
  width: 100%;
  height: 50px;
}
ul{
  margin:0;
  padding:0;
}
.links li, .tools li {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}
.tools li:hover {
    background-color: orange;
}
.links li:hover {
    background-color: orange;
}
.logo-img {
  float: left;
  width: 207px;
  position: relative;
  left: 10px;
}
.links {
  width: 350px;
  text-align: center;
  margin-left: 300px;
  line-height: 40px;
}
.tools{
  float:right;
  width: 135px;
  position: relative;
  line-height: 40px;

}
.navbar > div {
  display: inline-block;
}

.main-img h2{
  position: absolute;
	float: right;
	right: 0;
	font-size: 50px;
	margin-right:460px;
  color:orange;
  font-family: 'Titillium Web', sans-serif;
}

.main-img{
  text-align: center;
  margin-top:130px;
}
h1, h2{
  text-align: center;
  color:#f94e3f;
  font-family: 'Montserrat', sans-serif;
}
.footer{
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
}
.list-item{
  margin-left: 40px;
  margin-bottom: 80px;
  margin-top: 30px;
  width: 800px;
  height: 200px;
  border: 2px solid black;
  padding-left: 35px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Slabo 27px', serif;
}
.list-item li{
  padding-bottom: 5px;
}
.footer ul{
  list-style: none;
}
.main-footer{
  text-align: center;
  font-size: 18px;
}
.main-footer li{
  display: inline-block;
  padding:20px;
}

.online-store li, .Point-of-sale li{
  display: inline;
  padding: 9px;
  text-align: center;
}
.Point-of-sale ul,.online-store ul{
  text-align: center;
}
.footer-img{
  float:right;
  position: relative;
right:20px;
}
